<div class="container">
  <div class="row upload">
    <div class="upload-label">Select your file</div>
    <form class="styled-form">
      <div class="form-group">
        <div class="button_group">
          <label for="input1">Upload summary</label>
          <input type="file" name="" id="input1" (change)="onFileChange($event)" />
        </div>
      </div>
    </form>
  </div>
  <div class="row preview">
    <div class="preview-left">
      @for(sheet of sheets; track $index) {
        <div class="sheet">
          <span>{{sheet}}</span>
        </div>
      }
    </div>
    <div class="preview-right">
      <table id="se-summary-preview" class="ExcelTable2007">
        <tr class="row-heading">
          <th class="heading">&nbsp;</th>
          <th>Item</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Cost</th>
          <th>Disallowable</th>
        </tr>

        @for(row of rows; track $index) {
          <tr class="row-data">
            <td class="heading">{{row.Index+1}}</td>
            <td>{{ row.Item}}</td>
            <td>{{ row.StartDate}}</td>
            <td>{{ row.EndDate}}</td>
            <td>{{ row.Cost}}</td>
            <td>{{ row.Disallowable}}</td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>



